@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Light.woff2") format("woff2"),
    url("./fonts/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

:root {
    --color-whitesmoke: #f5f5f5;
    --color-white: #ffffff;
    --color-grey: #2c2c2c;
    --color-beige: #e4cec1;
}

html {
    height: 100%;
}

.page__body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1280px;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-grey);

}

.main-index {
    flex-grow: 1;
    display: flex;
}

.main-index-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 40px;
}

.main-index-right {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.title {
    margin: 0;
}

.profile {
    text-align: center;
}

.profile__figure {
    margin: 0;
    padding: 0;
    width: 100%;
    height: min-content;
    margin-bottom: 80px;
}

.profile__image {
    display: block;
    width: 310px;
    height: 310px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.profile__wrap {
    width: 50%;
}

.profile__title {
    font-size: 50px;
    line-height: 50px;
    align-items: center;
    font-weight: 400;
}

.profile__subtitle {
    font-size: 36px;
    line-height: 36px;
}

.profile__content {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
}

.contacts_title {
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 36px;
    border-bottom: 4px solid #454545;
}

.list {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-size: 24px;
    line-height: 36px;
    list-style: none;
}

.contacts__item {
    padding: 0;
}

.languages {
    padding: 0;
}

.contacts__inner {
    background-color: #fbede0;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    padding: 60px;
    margin-bottom: 10vh;
}

.contacts__wrap {
    background-color: #fbebeb;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    padding: 60px;
}

.skills {
    width: 50%;
}

.skills__title {
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 36px;
    border-bottom: 4px solid #454545;
}

.skills__inner {
    background-color: #f8f3ef;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    padding: 60px;
    margin-bottom: 8vh;
}

.skills__wrap {
    background-color: #fbede0;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    padding: 60px;
}

.skills__list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 20px;
    font-size: 24px;
    line-height: 36px;
    list-style: none;
}

.skills__item:not(:last-child) {
    padding-bottom: 10px;
}

.skills__code {
    display: block;
    padding-top: 20px;
    font-size: 20px;
    line-height: 24px;
}

.skills-info__list:not(:last-child) {
    padding-right: 70px;
}

.projects__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.projects__img {
    display: block;
    width: 100%;
    object-fit: contain;
    height: max-content;
    border: 4px solid var(--color-beige);
}

